<section class="container">
	<div id="resources" class="d-md-flex flex-wrap justify-content-evenly align-items-stretch">
		<div id="survey-call-to-action" class="resource theme-lightpink col-md-6 col-lg-4 mb-5">
            <mat-card>
				<mat-card-header>
					<mat-card-title>
						<span class="font-accent mat-subheading-1 font-weight-bold">
							Bias Your Results
						</span>
					</mat-card-title>
                    <mat-chip-list aria-label="tags">
						<mat-chip class="text-accent">New</mat-chip>
					</mat-chip-list>
				</mat-card-header>
				<mat-card-content>
					<p>
						Filter the resources on this page by taking our 60-second quiz
					</p>
				</mat-card-content>
				<mat-card-actions>
					<button class="text-light" color="primary" mat-raised-button routerLink="/quiz">
						<span>Take the Quiz</span>
					</button>
				</mat-card-actions>
			</mat-card>
		</div>
        <div id="readme" class="resource col-md-6 col-lg-8 mb-5 theme-lightgreen">
            <!-- [classes]="['h-100', 'd-flex', 'flex-column', 'mb-3']" -->
			<app-resource
				markdownFile="{{ survey.intent }}/{{ survey.ai}}/Readme"
                [classes]="['h-100', 'd-flex', 'flex-column']"
                [tags]="[survey.intent, survey.ai]">
			</app-resource>
		</div>
		<ng-container *ngIf="showAllResources">
			<ng-container *ngFor="let topic of objectKeys(markdownFiles)">
				<ng-container *ngFor="let level of objectValues(levels)">
					<div *ngFor="let filename of markdownFiles[topic]" class="resource list theme-lightgreen col-12">
						<app-resource
							[tags]="[topic]"
							title="{{ topic }}/{{ level }}/{{ filename }}"
							[list]="true"
							markdownFile="{{ topic }}/{{ level }}/{{ filename }}">
						</app-resource>
					</div>
				</ng-container>

			</ng-container>
			<!-- <div *ngFor="let md of markdownFiles; index as topic;" class="resource list theme-lightgreen col-12">
				{{ topic }}
			</div> -->
			<!-- <div *ngFor="let md of markdownFiles" class="resource list theme-lightgreen col-12">
				<app-resource
					markdownFile="{{ survey.intent }}/{{ survey.ai}}/{{md}}"
					[tags]="[survey.intent, survey.ai]"
					[list]="true">
				</app-resource>
			</div> -->
		</ng-container>
		<!-- <ng-container *ngIf="survey.intent">
			<div *ngFor="let mdFile of markdownFiles[survey.intent]" class="resource list theme-lightgreen col-12">
				<app-resource
					markdownFile="{{ survey.intent }}/{{ survey.ai}}/{{ mdFile }}"
					[tags]="[survey.intent, survey.ai]"
					[list]="true">
				</app-resource>
			</div>
		</ng-container> -->
	</div>
</section>