@import "../../../styles/helpers";
.decoration:after#NOPE {
    content:"";
    position:absolute;
    top:0; right:0; bottom:0; left:0;
    background-image:url(/assets/header-pattern-1@2x.png);
    background-size:auto 50%;
    background-repeat:no-repeat;
    background-position:75% 25%;
}
.header {
	position:relative;
	background-image:url(/assets/pexels-adrien-olichon-2387793.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	background-position:center center;

	&:before, &:after {
		content:"";
		position:absolute;
		top:0; right:0; bottom:0; left:0;
	}
	&:before { @extend .purple_overlay; }
	&:after {
		background-image:url(/assets/header-pattern-1@2x.png);
		background-size:auto 50%;
		background-repeat:no-repeat;
		background-position:95% 25%;
	}
}
.bg {

	&.mat-card {
		$offset:1.6rem;
		$bg-height:7.7777777em;
		overflow: hidden;

		&.bg-code:before { background-image:url("/assets/Understanding AI_ML.jpg"); }
		&.bg-protest:before { background-image:url("/assets/guillaume-issaly-BOstzXNCej8-unsplash.png"); }
		&.bg-notebooks:before { background-image:url("/assets/Understanding US Frameworks.jpg"); }
		&.bg-globe:before { background-image:url("/assets/pexels-pixabay-269633.png"); }
		&.bg-industry:before { background-image:url("/assets/scott-blake-s9XDWLJ_LyE-unsplash.png"); }
		&.bg-books:before { background-image:url("/assets/Case Study-2.jpg"); }


		&:before {
			content:"";
			box-sizing:content-box;
			margin-top:$offset * -1; padding-top:$offset;
			margin-right:$offset * -1; padding-right:$offset;
			margin-left:$offset * -1; padding-left:$offset;
			width:100%; height:$bg-height;
			background-size:cover;
			background-position:center center;
		}
	}
}
