@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,500');
@import url('https://fonts.googleapis.com/css?family=Material+Icons');
@import '~bootstrap/scss/bootstrap';
@import './styles/theme';

html { font-size:10px; }
html, body { margin:0; padding:0; height:100%; }