@import '../styles/helpers';
#site {
	min-height:100vh; height:100vh;
	@extend .d-flex;
	@extend .flex-column;

	> * {
		flex-grow:0;
		flex-shrink:1;
		flex-basis:auto;
	}
	main {
		flex-grow:1;
		overflow:hidden;
		@extend .d-flex;
		@extend .flex-column;
	}

	.main-overflow-hidden main  { overflow:hidden; }
	&.contain  {
		max-height:100vh !important;
		main {
			flex-grow:1;
			flex-shrink:1;
			overflow:auto;
		}
	}
}