@import '../../../styles/helpers';
h3 {
    position:relative;

    &:after {
        content:"";
        position:absolute;
        top:auto; right:auto; bottom:-0.4rem; left:0;
        width:2.5rem; height:0.3rem;
        background:$color_pink;
    }
}

// section:nth-child(odd) {
//     background-color:$color_grey_light;
// }