<section class="container-fluid theme-gradient text-light pt-5 pb-5 ">
    <div class="container dark-theme d-flex justify-content-start">
        <div class="col-5">
            <h1>
                AI/ML Anti-Bias Toolkit
            </h1>
            <p>
                Tools for serving communities better when leveraging AI/ML in public sector services
            </p>
        </div>
    </div>
</section>
<section class="container-fluid pt-5 pb-5">
    <div class="container">
        <div class="d-flex justify-content-end">
            <div class="col-8">
                <h2>Building AI/ML Right</h2>
                <p>
                    Whether you are a city analytics lead, a state chief data officer, or federal agency director, this toolkit offers the tools for you to
                    drive impact in building ethical and equitable AI/ML for the communities you serve.
                </p>
                <button mat-stroked-button>
                    Get directed to relevant resources
                    <mat-icon color="accent" class="ml-5 round-outline">chevron_right</mat-icon>
                </button>
				<div class="TESTERTHING">
					hi
				</div>
				<hr>
				<button mat-button>button</button>
				<button mat-button color="primary">button</button>
				<button mat-button color="accent">button</button>
				<button mat-button color="warn">button</button>
				<button mat-button color="warn" disabled>button</button>
				<br>
				<button mat-flat-button>button</button>
				<button mat-flat-button color="primary">button</button>
				<button mat-flat-button color="accent">button</button>
				<button mat-flat-button color="warn">button</button>
				<button mat-flat-button color="warn" disabled>button</button>
				<br>
				<button mat-stroked-button>button</button>
				<button mat-stroked-button color="primary">button</button>
				<button mat-stroked-button color="accent">button</button>
				<button mat-stroked-button color="warn">button</button>
				<button mat-stroked-button color="warn" disabled>button</button>

            </div>
        </div>
    </div>
</section>
<section class="container-fluid pt-5 pb-5">
    <div class="container">
        <h3>Featured Resources</h3>
        <div class="d-flex justify-content-evenly align-items-stretch">
            <mat-card class="col m-1 d-flex flex-column">
                <mat-card-content class="flex-fill">
                    <p>
                        Education Resources: Learning about Data, AI/ML and Bias
                    </p>
                </mat-card-content>
                <mat-card-actions class="d-flex flex-row justify-content-end align-items-center">
                    <button mat-button class="">
                        <mat-icon color="accent" class="round-outline">chevron_right</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>
            <mat-card class="col m-1 d-flex flex-column">
                <mat-card-content class="flex-fill">
                    <p>
                        Mapping Out How to Design Public Sector AI/ML
                    </p>
                </mat-card-content>
                <mat-card-actions class="d-flex flex-row justify-content-end align-items-center">
                    <button mat-button class="">
                        <mat-icon color="accent" class="round-outline">chevron_right</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>
            <mat-card class="col m-1 d-flex flex-column">
                <mat-card-content class="flex-fill">
                    <p>
                        Technical Tools for Mitigating Bias
                    </p>
                </mat-card-content>
                <mat-card-actions class="d-flex flex-row justify-content-end align-items-center">
                    <button mat-button class="">
                        <mat-icon color="accent" class="round-outline">chevron_right</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</section>
<section class="container-fluid pt-5 pb-5">
    <div class="container">
        <h3>Recent News</h3>
		<div class="d-flex flex-row flex-nowrap">
			<mat-card class="w-50">
				<mat-card-content>
					<h2>
						Kate McCall-Kiley, Co-Director of xD, Named 2019 MIT Director’s Fellow
					</h2>
				</mat-card-content>
				<mat-card-actions class="d-flex flex-row justify-content-between align-items-center">
					<small class="date text-muted">October 2</small>
					<button mat-button class="no-hover">
						<mat-icon color="accent" class="round-outline">chevron_right</mat-icon>
					</button>
				</mat-card-actions>
			</mat-card>
		</div>
    </div>
</section>




<!-- <h1>Heading One </h1>
<h2>Heading Two </h2>
<h3>Heading Three </h3>
<h4>Heading Four </h4>
<h5>Heading Five </h5>
<h6>Heading Six </h6>

<p>
    Sed lectus. Sed libero. Suspendisse nisl elit, rhoncus eget, elementum ac, condimentum eget, diam.
    Curabitur vestibulum aliquam leo. Aenean tellus metus, bibendum sed, posuere ac, mattis non, nunc.
</p>
<p>
    Fusce vulputate eleifend sapien. Suspendisse nisl elit, rhoncus eget, elementum ac, condimentum eget, diam.
    Praesent ac massa at ligula laoreet iaculis. Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis, ipsum.
    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
</p> -->
