@import "../../../../styles/helpers";

.round-outline {

	font-size:2.8rem;
	height:1em; width:1em;
	  position:relative;
	z-index:10;
	&:before {
		$border-width:0.08em;
		$offset: $border-width * -0.25;

		content:"";
		position:absolute;
		top:$offset; left:$offset;
		width:100%; height:100%;
		z-index:-1;

		font-size:inherit;
		border-width:$border-width;
		border-style:solid;
		border-radius:500px;
	}
	&[color='primary']:before {  border-color:$color_primary; }
	&[color='accent']:before {  border-color:$color_accent; }
	&[color='warn']:before {  border-color:$color_warn; }
}

// .mat-button-base {
// 	&[color=primary]:before { background-color:$color_primary }
// 	&[color=accent]:before { background-color:$color_accent }
// 	&[color=warn]:before { background-color:$color_warn }
// }

// .round-outline {
// 	&[color=primary]:before { background-color:$color_primary }
// 	&[color=accent]:before { background-color:$color_accent }
// 	&[color=warn]:before { background-color:$color_warn }
// }
