#journey {
    overflow:hidden;
    
    h1 .decoration{
        position:relative;

        &:after  {
            content:"";
            background-image:url(/assets/header-pattern.png);
            background-size:contain;
            background-repeat:no-repeat;
            background-position:left bottom;
            
            position:absolute;
            top:0; right:-50%; bottom:0; left:100%;
        }
    }
}
