.decoration:after {
    content:"";
    position:absolute;
    top:0; right:0; bottom:0; left:0;
    background-image:url(/assets/header-pattern-1@2x.png);
    background-size:auto 50%;
    background-repeat:no-repeat;
    background-position:right 25%;
}