<section class="container-fluid padding-xl-top">
	<div class="container">
		<h2 class="text-center ">
			<span class="dec-line green top left offset-top">
				Get Directed to Relevent Resources
			</span>
		</h2>
	</div>
</section>
<section #helper class="container-fluid">
		<mat-horizontal-stepper [linear]="true" #stepper>
			<mat-step label="Welcome" [stepControl]="formGroupOne">
				<form [formGroup]="formGroupOne">
					<label for="intent" class="d-block text-center">
						<span class="d-block mat-h3">
							What brings you to the Toolkit?
						</span>
						I want to...
					</label>
					<mat-form-field>
						<input matInput #int formControlName="int" [value]="learn" required>
					</mat-form-field>
					<div class="d-flex flex-row align-items-center">
						<div class="flex-fill d-flex flex-column">
							<mat-chip-list selectable="true" name="intent" #intent aria-label="" aria-orientation="vertical">
								<mat-chip #learn="matChip"
									selected
									color="warn" class="bg-light text-dark col justify-content-center"
									(click)="learn.select(); int.value = 'learn';">
									Learn
								</mat-chip>
								<mat-chip #build="matChip"
									color="warn" class="bg-light text-dark col justify-content-center"
									(click)="build.select(); int.value = 'build';">
									Build
								</mat-chip>
								<mat-chip #contribute="matChip"
									color="warn" class="bg-light text-dark col justify-content-center"
									(click)="contribute.select(); int.value = 'contribute';">
									Contribute
								</mat-chip>
							</mat-chip-list>
						</div>
					</div>
					<div class="d-flex flex-row flex-nowrap justify-content-end mt-5">
						<button type="submit" mat-stroked-button matStepperNext>Next</button>
					</div>
				</form>
			</mat-step>
			<!-- <mat-step label="AI/ML"  [stepControl]="formGroupTwo">
				<mat-slider #quantai class="d-block w-100" color="warn" min="0" max="3" step="0.5" value="0.5"></mat-slider>
				<div class="row text-center">
					<div class="col">I'm new here! Let's start with definitions and concepts</div>
					<div class="col">I've had some exposure, let's talk about applications and context</div>
					<div class="col">I'm using AI/ML in my daily work and I'm here to get the latest info</div>
				</div>
				 <mat-form-field>
					<input matInput formControlName="ai" required>
				</mat-form-field>
				<div class="d-flex flex-row flex-nowrap justify-content-between mt-5">
					<button type="submit" mat-stroked-button matStepperPrevious>Prev</button>
					<button type="submit" mat-stroked-button matStepperNext>Next</button>
				</div>
			</mat-step> -->
			<mat-step label="Bias"  [stepControl]="formGroupThree">
				<ng-template matStepLabel>Done</ng-template>
				<p>You are now done.</p>
				<div>
					<button mat-button matStepperPrevious>Back</button>
					<button mat-button (click)="stepper.reset()">Reset</button>
				</div>
			</mat-step>
		</mat-horizontal-stepper>

</section>
<!-- <section id="helper" #helper class="container-fluid">
    <div class="container padding-xl-top">
        <h2 class="text-center ">
            <span class="dec-line green top left offset-top">
                Get Directed to Relevent Resources
            </span>
		</h2>
		<div class="mt-5 mb-5">
			<h3 class="text-center">
				What brings you to the Toolkit?
			</h3>
			<label for="intent" class="d-block text-center">
				I want to...
			</label>
			<div class="d-flex flex-row align-items-center">
				<div class="flex-fill d-flex flex-column">
					<mat-chip-list selectable="true" name="intent" #intent aria-label="" aria-orientation="vertical">
						<mat-chip color="warn" selected #learn="matChip" (click)="learn.select()" class="bg-light text-dark col justify-content-center">
							Learn
						</mat-chip>
						<mat-chip  color="warn" #build="matChip" (click)="build.select()" class="bg-light text-dark col justify-content-center">
							Build
						</mat-chip>
						<mat-chip  color="warn" #contribute="matChip"	(click)="contribute.select()"class="bg-light text-dark col justify-content-center">
							Contribute
						</mat-chip>
					</mat-chip-list>
				</div>
			</div>
		</div>
		<div class="mt-5 mb-5">
			<h3 class="text-center">
				What is your current knowledge base about AI/ML?
                <small><code>{{ quantai.value }}</code></small>
			</h3>
			<mat-slider #quantai class="d-block w-100" color="warn" min="0" max="3" step="0.5" value="0.5"></mat-slider>
			<div class="row text-center">
				<div class="col">I'm new here! Let's start with definitions and concepts</div>
				<div class="col">I've had some exposure, let's talk about applications and context</div>
				<div class="col">I'm using AI/ML in my daily work and I'm here to get the latest info</div>
			</div>
		</div>
		<div class="mt-5 mb-5">
			<h3 class="text-center">
				What is your current knowledge base about Bias?
                <small><code>{{ quantbias.value }}</code></small>
			</h3>
			<mat-slider  #quantbias class="d-block w-100" color="warn" min="0" max="3" step="0.5" value="0.5"></mat-slider>
			<div class="row text-center">
				<div class="col">I'm new here! Let's start with definitions and concepts</div>
				<div class="col">I've had some exposure, let's talk about applications and context</div>
				<div class="col">I'm working with bias daily and I'm here to get the latest info</div>
			</div>
		</div>
    </div>
</section>
<section id="resources" class="container-fluid padding-lg-top padding-lg-bottom theme-medium mat-app-background">
    <div *ngIf="quantbias && quantbias.value && quantai && quantai.value" class="container">
        <div class="d-md-flex flex-wrap justify-content-evenly align-items-stretch">
            <div *ngIf="quantai.value >= 1.5" class="col-md-6 col-lg-4 flex-column mb-5">
                <mat-card class="h-100 d-flex flex-column">
                    <img mat-card-image src="/assets/Rectangle 27@2x.png" alt="">
                    <mat-card-header>
                        <mat-card-title class="font-accent text-center">
                            Mapping the Process
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="flex-fill">
                        <p>
                            Ready to integrate AI/ML into your department's processes? Here's a map on how to do it right.
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
            <div *ngIf="learn.selected || quantbias.value < 1.5" class="col-md-6 col-lg-4 flex-column mb-5">
                <mat-card class="h-100 d-flex flex-column">
                    <img mat-card-image src="/assets/Rectangle -1.png" alt="">
                    <mat-card-header>
                        <mat-card-title class="font-accent text-center">
                            Understanding Bias
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="flex-fill">
                        <p>
                            What does it mean for data to be biased? How does bias show up in AI/ML nodes?
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
            <div *ngIf="quantai.value > 1.5" class="col-md-6 col-lg-4 flex-column mb-5">
                <mat-card class="h-100 d-flex flex-column">
                    <img mat-card-image src="/assets/Rectangle -4.png" alt="">
                    <mat-card-header>
                        <mat-card-title class="font-accent text-center">
                            Technical Tools
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="flex-fill">
                        <p>
                            Share these technical tools for addressing bias with your AI/ML engineers and partners.
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
            <div *ngIf="learn.selected" class="col-md-6 col-lg-4 flex-column mb-5">
                <mat-card class="h-100 d-flex flex-column">
                    <img mat-card-image src="/assets/Rectangle -3.png" alt="">
                    <mat-card-header>
                        <mat-card-title class="font-accent text-center">
                            Case Studies
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="flex-fill">
                        <p>
                            Examples/case studies of states, cities, counties
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</section> -->
