@import 'pallettes';
@import '~bootstrap/scss/bootstrap-grid';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/utilities';

$color_purple: map-get($md-purple, 500);
$color_pink: map-get($md-pink, 500);
$color_green: map-get($md-green, 500);
$color_grey_light: rgba(black, 0.24);
$custom-font-body: Helvetica, sans-serif;
$custom-font-accent: Merriweather, serif;


$line_thickness:0.4em;