@import 'palettes';
@import '~bootstrap/scss/bootstrap-grid';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/utilities';

$color_purple: map-get($md-purple, 500);
$color_pink: map-get($md-pink, 500);
$color_green: map-get($md-green, 500);
$color_grey_medium: rgba(black, 0.42);
$color_grey_light: rgba(black, 0.24);
$custom-font-body: Helvetica, sans-serif;
$custom-font-accent: Merriweather, serif;

$color_primary:$color_purple;
$color_accent:$color_green;
$color_warn:$color_pink;

.bg-purple { background-color:$color_purple; }
.text-purple { color:$color_purple; }

.bg-green { background-color:$color_green; }
.text-green { color:$color_green; }

.bg-pink { background-color:$color_pink; }
.text-pink { color:$color_pink; }


$button-height:4.8rem;
$line-thickness:0.4em;
$border-radius:1.2rem;

.purple_overlay {
	background-color:rgba($color_purple, 0.77);
}