.mat-icon,
[mat-icon] {
	&[color=primary]	{ color:$color_primary !important; }
	&[color=accent]		{ color:$color_accent; }
	&[color=warn]		{ color:$color_warn; }

	@include iconSizer($icon_dimension:1em);
	&.round { border-radius:100vw; }
	&.thick-border {
		border-width:$icon-border-width !important;
		border-style:solid !important;
	}
}