html body .mat-button-base:hover mat-icon.round-outline,
html body mat-icon.round-outline:hover {
    color:white !important;
    &:before { background-color: $color_green; }
}
html body mat-icon {
    &.round-outline {
        font-size:2.8rem;
        height:1em; width:1em;
       	position:relative;
        z-index:10;
        &:before {
            $border-width:0.08em;
            $offset: $border-width * -0.25;

            content:"";
            position:absolute;
            top:$offset; left:$offset;
            width:100%; height:100%;
            z-index:-1;

            font-size:inherit;
            border-width:$border-width;
            border-style:solid;
            border-color:map-get($md-green, 500);
            border-radius:500px;
        }
    }
}