/* For use in src/lib/core/theming/_palette.scss */
$md-purple: (
    50 : #e8e7eb,
    100 : #c5c3ce,
    200 : #9f9bad,
    300 : #78738c,
    400 : #5b5573,
    500 : #3e375a,
    600 : #383152,
    700 : #302a48,
    800 : #28233f,
    900 : #1b162e,
    A100 : #8d70ff,
    A200 : #643dff,
    A400 : #3b0aff,
    A700 : #3000f0,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-pink: (
    50 : #f5e6f5,
    100 : #e6c1e6,
    200 : #d598d5,
    300 : #c46ec4,
    400 : #b84fb8,
    500 : #ab30ab,
    600 : #a42ba4,
    700 : #9a249a,
    800 : #911e91,
    900 : #801380,
    A100 : #ffb5ff,
    A200 : #ff82ff,
    A400 : #ff4fff,
    A700 : #ff35ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-green: (
    50 : #e3fbf7,
    100 : #b8f6ec,
    200 : #89f0df,
    300 : #5aead2,
    400 : #36e6c9,
    500 : #13e1bf,
    600 : #11ddb9,
    700 : #0ed9b1,
    800 : #0bd5a9,
    900 : #06cd9b,
    A100 : #f6fffc,
    A200 : #c3ffee,
    A400 : #90ffe0,
    A700 : #76ffd9,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

/* For use in src/lib/core/theming/_palette.scss */
$md-lightpink: (
    50 : #fefdff,
    100 : #fdfbfe,
    200 : #fcf8fe,
    300 : #faf5fd,
    400 : #f9f2fc,
    500 : #f8f0fc,
    600 : #f7eefc,
    700 : #f6ecfb,
    800 : #f5e9fb,
    900 : #f3e5fa,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-darkblue: (
    50 : #e7e8eb,
    100 : #c3c6cd,
    200 : #9ca1ac,
    300 : #747b8b,
    400 : #565e72,
    500 : #384259,
    600 : #323c51,
    700 : #2b3348,
    800 : #242b3e,
    900 : #171d2e,
    A100 : #7196ff,
    A200 : #3e71ff,
    A400 : #0b4bff,
    A700 : #003ff1,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);