@import 'helpers';

@import 'https://fonts.googleapis.com/css?family=Material+Icons';
@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,500');
@import '~bootstrap/scss/bootstrap';
@import '~@angular/material/theming';

$typography: mat-typography-config(
    $font-family:   $custom-font-body,
    $display-4:     mat-typography-level(72px, 80px, 400), // large, one-off font classes
    $display-3:     mat-typography-level(64px, 72px, 400), //
    $display-2:     mat-typography-level(56px, 64px, 400), //
    $display-1:     mat-typography-level(48px, 56px, 400), //

    $headline:      mat-typography-level(48px, 56px, 700, $custom-font-accent),  // Section heading corresponding to the <h1> tag.
    $title:         mat-typography-level(32px, 48px, 700, $custom-font-accent), // Section heading corresponding to the <h2> tag.
    $subheading-2:  mat-typography-level(24px, 32px, 400), // Section heading corresponding to the <h3> tag.
    $subheading-1:  mat-typography-level(20px, 24px, 400), // Section heading corresponding to the <h4> tag.

    $body-2:        mat-typography-level(18px, 24px, 700), // Bolder body text.
    $body-1:        mat-typography-level(18px, 24px, 400), // Base body text.

    $caption:       mat-typography-level(14px, 20px, 400),
    $button:        mat-typography-level(18px, 48px, 700, $custom-font-accent),
    $input:         mat-typography-level(16px, 1.25, 400)
);
@include mat-core($typography);
@include angular-material-typography($typography);

$theme-primary: mat-palette($md-purple);
$theme-accent:  mat-palette($md-green);
$theme-warn:    mat-palette($mat-pink);
$light-theme: mat-light-theme((
    color: (
        primary: $theme-primary,
        accent: $theme-accent,
        warn: $theme-warn,
    )
));
$dark-theme: mat-dark-theme(
  (
    color: (
        primary: $theme-primary,
        accent: $theme-accent,
        warn: $theme-warn,
    ),
  )
);
@include angular-material-theme($light-theme);
.dark {  @include angular-material-color($dark-theme) }

html,
html body {
    margin:0; padding:0;

    .theme-gradient {
        background-image: linear-gradient(to bottom right, map-get($md-pink, 500), map-get($md-green, 500));
    }
	.bg-grey { background:$color_grey_light; }


	mat-chip,
	.mat-chip.mat-standard-chip {
		background-color:transparent;
		border:1px $color_purple solid;
		height:3em;

		&[selected] {
			background-color:transparent;
			border-color:$color_pink;
		}
	}

	.mat-slider.mat-slider-horizontal .mat-slider-wrapper {
		top: 18px;
	}
	.mat-slider.mat-slider-horizontal .mat-slider-track-wrapper {
		height: 12px;
		border-radius: 10px
	}
	.mat-slider.mat-slider-horizontal .mat-slider-track-background,
	.mat-slider.mat-slider-horizontal .mat-slider-track-fill {
		height: 100%;
	}
	.mat-slider.mat-slider-horizontal .mat-slider-track-fill {
		background-color: $color_pink;
	}
	.mat-slider-thumb,
    .mat-slider-thumb-label {
		height: 30px;
		width: 30px;
		background-color: $color_pink !important;
		border: solid 2px rgba($color_pink, 0.5);
		bottom: -20px;
		right: -20px;
	}
	  .mat-slider-min-value:not(.mat-slider-thumb-label-showing) .mat-slider-thumb {
		background-color: $color_pink;
	}
    .mat-button-base { min-height:3em; }
    mat-icon.round-outline {
        position:relative;
        &:before {
             z-index:1;
            $border-width:0.1em;
            content:"";
            position:absolute;
            top:0; right:auto; bottom:auto; left:$border-width / 2 * -1;
            border-width:$border-width;
            border-style:solid;
            border-color:map-get($md-green, 500);
            border-radius:500px;
            width:100%; height:100%;
        }
    }
}


// $theme-background: (
//     status-bar: green,
//     app-bar:    map_get($md-purple, 500),
//     background: map_get($mat-grey, 100),
//     hover:      red,
//     card:       white,
//     dialog:     orange,
//     disabled-button: yellow,
//     raised-button: map-get($md-purple, 500),
//     focused-button: green,
//     selected-button: blue,
//     selected-disabled-button: purple,
//     disabled-button-toggle:teal,
//     unselected-chip: yellowgreen,
//     disabled-list-option: black,
// );
// $theme-foreground: (
//   base:              black,
//   divider:           red,
//   dividers:          orange,
//   disabled:          yellow,
//   disabled-button:   green,
//   disabled-text:     blue,
//   hint-text:         rgba(black, 0.3),
//   secondary-text:    rgba(black, 0.7),
//   icon:             map-get($md-green, 500),
//   icons:            map-get($md-green, 500),
//   text:              black,
//   slider-min:        black,
//   slider-off:        rgba(black, 0.3),
//   slider-off-active: rgba(black, 0.3),
// );
// @include angular-material-theme((
//     primary: $theme-primary,
//     accent: $theme-accent,
//     warn: $theme-warn,
//     is-dark: false,
//     //foreground: $theme-foreground,
//     //background: $theme-background,
// ));