@import 'helpers';
@import '~@angular/material/theming';

$theme-primary:	mat-palette($md-purple);
$theme-accent:	mat-palette($md-green);
$theme-warn:	mat-palette($md-pink);

$color_primary:map-get($md-purple, 500);
$color_accent:map-get($md-green, 500);
$color_warn:map-get($md-pink, 500);

$light-theme:	mat-light-theme((
	color: (
		primary: $theme-primary,
		accent: $theme-accent,
		warn: $theme-warn,
	)
));
$dark-theme: mat-dark-theme((
	color: (
		 primary:	$theme-primary,
		 accent:	$theme-accent,
		 warn: 		$theme-warn,
	),
));
$light-foreground: map-get($light-theme, foreground);
$light-background: map-get($light-theme, background);
$theme-background-light: (
	status-bar:					map-get($light-background, status-bar),
	app-bar:					map-get($light-background, app-bar),
	background:				   	white,
	hover:	 					white,
	card:	   					map-get($light-background, card),
	dialog:						map-get($light-background, dialog),
	disabled-button:			map-get($light-background, disabled-button),
	raised-button:				map-get($light-background, raised-button),
	focused-button:				map-get($light-background, focused-button),
	selected-button:			map-get($light-background, selected-button),
	selected-disabled-button:	map-get($light-background, selected-disabled-button),
	disabled-button-toggle:		map-get($light-background, disabled-button-toggle),
	unselected-chip:			rgba(white, 0),
	disabled-list-option:		map-get($light-background, disabled-list-option),
	tooltip: 					map-get($light-background, tooltip),
);
$theme-foreground-light: (
	base:				map-get($light-foreground, base),
	divider:			lighten(map-get($light-foreground, divider), 42%),
	dividers:			lighten(map-get($light-foreground, dividers), 42%),
	disabled:			map-get($light-foreground, disabled),
	disabled-button:  	map-get($light-foreground, disabled-button),
	disabled-text:		map-get($light-foreground, disabled-text),
	elevation:			map-get($light-foreground, elevation),
	hint-text:			map-get($light-foreground, hint-text),
	secondary-text:		map-get($light-foreground, secondary-text),
	icon:				$color_green,
	icons:				$color_green,
	text:				map-get($light-foreground, text),
	slider-min:			map-get($light-foreground, slider-min),
	slider-off:			map-get($light-foreground, slider-off),
	slider-off-active:	map-get($light-foreground, slider-off-active),
);

@include angular-material-theme($light-theme);
.theme-light {
	@include angular-material-theme((
		primary: $theme-primary,
		accent: $theme-accent,
		warn: $theme-warn,
		is-dark: false,
		foreground: $theme-foreground-light,
		background: $theme-background-light,
	));
}
$dark-foreground: map-get($dark-theme, foreground);
$dark-background: map-get($dark-theme, background);
$theme-foreground-dark: (
	base:				map-get($dark-foreground, base),
	divider:			lighten(map-get($dark-foreground, divider), 42%),
	dividers:			lighten(map-get($dark-foreground, dividers), 42%),
	disabled:			map-get($dark-foreground, disabled),
	disabled-button:  	map-get($dark-foreground, disabled-button),
	disabled-text:		map-get($dark-foreground, disabled-text),
	elevation:			map-get($dark-foreground, elevation),
	hint-text:			map-get($dark-foreground, hint-text),
	secondary-text:		map-get($dark-foreground, secondary-text),
	icon:				$color_green,
	icons:				$color_green,
	text:				map-get($dark-foreground, text),
	slider-min:			map-get($dark-foreground, slider-min),
	slider-off:			map-get($dark-foreground, slider-off),
	slider-off-active:	map-get($dark-foreground, slider-off-active),
);
$theme-background-dark: (
	status-bar:					map-get($dark-background, status-bar),
	app-bar:					map-get($dark-background, app-bar),
	background:					$color_purple,
	hover:	 					map-get($dark-background, hover),
	card:	   					map-get($dark-background, card),
	dialog:						map-get($dark-background, dialog),
	disabled-button:			map-get($dark-background, disabled-button),
	raised-button:				map-get($dark-background, raised-button),
	focused-button:				map-get($dark-background, focused-button),
	selected-button:			map-get($dark-background, selected-button),
	selected-disabled-button:	map-get($dark-background, selected-disabled-button),
	disabled-button-toggle:		map-get($dark-background, disabled-button-toggle),
	unselected-chip:			$color_purple,
	disabled-list-option:		map-get($dark-background, disabled-list-option),
	tooltip: 					map-get($dark-background, tooltip),
);

.theme-dark {
	@include angular-material-theme((
		primary: $theme-primary,
		accent: $theme-accent,
		warn: $theme-warn,
		is-dark: true,
		foreground: $theme-foreground-dark,
		background: $theme-background-dark,
	));
}
/* MEDIUM THEME */
$theme-background-medium: (
	status-bar:					map-get($light-background, status-bar),
	app-bar:					map-get($light-background, app-bar),
	background:					#edeff0,
	hover:	 					map-get($light-background, hover),
	card:	   					map-get($light-background, card),
	dialog:						map-get($light-background, dialog),
	disabled-button:			map-get($light-background, disabled-button),
	raised-button:				map-get($light-background, raised-button),
	focused-button:				map-get($light-background, focused-button),
	selected-button:			map-get($light-background, selected-button),
	selected-disabled-button:	map-get($light-background, selected-disabled-button),
	disabled-button-toggle:		map-get($light-background, disabled-button-toggle),
	unselected-chip:			rgba(white, 0),
	disabled-list-option:		map-get($light-background, disabled-list-option),
	tooltip: 					map-get($light-background, tooltip),
);
.theme-medium {
	@include angular-material-theme((
		primary: $theme-primary,
		accent: $theme-accent,
		warn: $theme-warn,
		is-dark: false,
		foreground: $theme-foreground-light,
		background: $theme-background-medium,
	));
}


/* LIGHTPINK THEME */
$color_lightpink:#f8f0fc;
$color_darkblue:#384259;

$pink-theme-primary:	mat-palette($md-darkblue);
$pink-theme-accent:		mat-palette($md-green);
$pink-theme-warn:		mat-palette($md-lightpink);

$pink-theme: mat-light-theme((
	color: (
		 primary:	$pink-theme-primary,
		 accent:	$pink-theme-accent,
		 warn: 		$pink-theme-warn,
	),
));

$pink-theme-foreground: map-get($pink-theme, foreground);
$pink-theme-background: map-get($pink-theme, background);

$theme-foreground-lightpink: (
	base:				$color_darkblue,
	divider:			map-get($pink-theme-foreground, divider),
	dividers:			map-get($pink-theme-foreground, dividers),
	disabled:			map-get($pink-theme-foreground, disabled),
	disabled-button:  	map-get($pink-theme-foreground, disabled-button),
	disabled-text:		map-get($pink-theme-foreground, disabled-text),
	elevation:			map-get($pink-theme-foreground, elevation),
	hint-text:			map-get($pink-theme-foreground, hint-text),
	secondary-text:		map-get($pink-theme-foreground, secondary-text),
	icon:				map-get($pink-theme-foreground, icon),
	icons:				map-get($pink-theme-foreground, icons),
	text:				map-get($pink-theme-foreground, text),
	slider-min:			map-get($pink-theme-foreground, slider-min),
	slider-off:			map-get($pink-theme-foreground, slider-off),
	slider-off-active:	map-get($pink-theme-foreground, slider-off-active),
);
$theme-background-lightpink: (
	status-bar:					map-get($pink-theme-background, status-bar),
	app-bar:					map-get($pink-theme-background, app-bar),
	background:					$color_lightpink,
	hover:	 					map-get($pink-theme-background, hover),
	card:	   					$color_lightpink,
	dialog:						map-get($pink-theme-background, dialog),
	disabled-button:			map-get($pink-theme-background, disabled-button),
	raised-button:				map-get($pink-theme-background, raised-button),
	focused-button:				map-get($pink-theme-background, focused-button),
	selected-button:			map-get($pink-theme-background, selected-button),
	selected-disabled-button:	map-get($pink-theme-background, selected-disabled-button),
	disabled-button-toggle:		map-get($pink-theme-background, disabled-button-toggle),
	unselected-chip:			white,
	disabled-list-option:		map-get($light-background, disabled-list-option),
	tooltip: 					map-get($light-background, tooltip),
);

.theme-lightpink {
	@include angular-material-theme((
		primary: $pink-theme-primary,
		accent:  $pink-theme-accent,
		warn: $pink-theme-warn,
		is-dark: false,
		foreground: $theme-foreground-lightpink,
		background: $theme-background-lightpink,
	));
}

$typography: mat-typography-config(
	$font-family:   $custom-font-body,
	$display-4:	 	mat-typography-level(72px, 1.30, 400),						// largest one-off font classes
	$display-3:	 	mat-typography-level(64px, 1.30, 400),						// largest one-off font classes
	$display-2:		mat-typography-level(56px, 1.30, 400),						// largest one-off font classes
	$display-1:	 	mat-typography-level(48px, 1.30, 400),						// largest one-off font classes

	$headline:	 	mat-typography-level(48px, 1.30, 700, $custom-font-accent), // h1 .mat-h1 etc
	$title:		 	mat-typography-level(32px, 1.30, 700, $custom-font-accent),	// h2 .mat-h2 etc
	$subheading-2:  mat-typography-level(24px, 1.30, 400), 						// h3 .mat-h3 etc
	$subheading-1:  mat-typography-level(18px, 1.30, 400), 						// h4 .mat-h4 etc
	$body-2:		mat-typography-level(18px, 1.42, 700),						// Bold body text
	$body-1:		mat-typography-level(16px, 1.42, 400),						// Base body text
	$caption:		mat-typography-level(14px, 1.30, 400),
	$button:		mat-typography-level(16px, 1.30, 700, $custom-font-accent),
	$input:			mat-typography-level(16px, 1.30, 400)
);
@include mat-core($typography);
@include angular-material-typography($typography);

html { font-size:10px; }

html,
html body {
    background:#edeff0;
    margin:0; padding:0;
    min-width:100vw; min-height:100vh;
}

html body .padding-lg-top  		{ padding-top:7rem }
html body .padding-lg-right		{ padding-right:7rem }
html body .padding-lg-bottom	{ padding-bottom:7rem }
html body .padding-lg-left  	{ padding-left:7rem }

html body .padding-xl-top  		{ padding-top:10rem }
html body .padding-xl-right  	{ padding-right:10rem }
html body .padding-xl-bottom  	{ padding-bottom:10rem }
html body .padding-xl-left  	{ padding-left:10rem }

@for $i from 1 to 100 {
    .w-#{$i} { width: #{$i}#{'%'} }
    // @media only screen and (max-width: 400px) {
    //     .w-sm-#{$i} { width: #{$i}#{'%'} }
    // }
    // @media only screen and (min-width:401px) and (max-width: 768px) {
    //     .w-md-#{$i} { width: #{$i}#{'%'} }
    // }
    // @media only screen and (min-width: 769px) {
    //     .w-lg-#{$i} { width: #{$i}#{'%'} }
    // }
}
@import "decorations";
html body {
	.font-body { font-family: $custom-font-body; }
	.font-accent { font-family: $custom-font-accent; font-weight:700; }
	.theme-gradient { background-image: linear-gradient(to bottom right, map-get($md-pink, 500), map-get($md-green, 500)); }
	.bg-dot-overlay {
		position:relative;
		&:before {
			content: "";
			position:absolute;
			top:0; right:0; bottom:0; left:0;
			z-index:0;
			background: transparent;
			background-image: radial-gradient(rgba(white, 0.12) 1px, transparent 0);
			background-size: 4px 4px;
		}
	}
	.bg-primary { background-color:$color_primary !important }
	.text-primary { color: $color_primary !important }
	.bg-accent { background-color:$color_accent !important }
	.text-accent { color: $color_accent !important }
	.bg-warn { background-color:$color_warn !important }
	.text-warn { color: $color_warn !important }
}

@import "button";
@import "card";
@import "chip";
@import "icon";
@import "slider";
@import "stepper";

//	COMMON THINGS	//

html body .mat-step-icon.mat-step-icon-state-edit,
html body .mat-slider-thumb {
	background-color:$color_pink;
	&:before {
		$color: rgba($color_pink, 0.23);
		$border-width:0.42em;
		$offset: $border-width * -1;
		content:"";
		box-sizing: content-box;
		width:100%; height:100%;
		position:absolute;
		top:$offset; right:$offset; bottom:$offset; left:$offset;
		background-color:$color;
		border:$border-width $color solid;
		border-radius:100%;
	}
}