// $container-max-widths: (
//   sm: 90vw,
//   md: 600px,
//   lg: 768px,
//   xl: 1024px
// ) !default;
@import 'helpers';
@import '~@angular/material/theming';

$typography: mat-typography-config(
	$font-family:   $custom-font-body,
	$display-4:	 	mat-typography-level(72px, 80px, 400),							// largest one-off font classes
	$display-3:	 	mat-typography-level(64px, 72px, 400),							// largest one-off font classes
	$display-2:		mat-typography-level(56px, 64px, 400),							// largest one-off font classes
	$display-1:	 	mat-typography-level(48px, 56px, 400),							// largest one-off font classes

	$headline:	 	mat-typography-level(48px, 60px, 700, $custom-font-accent), 	// h1 .h1 etc
	$title:		 	mat-typography-level(32px, 40px, 700, $custom-font-accent),		// h2 .h2 etc
	$subheading-2:  mat-typography-level(24px, 30px, 400), 							// h3 .h3 etc
	$subheading-1:  mat-typography-level(20px, 25px, 400), 							// h4 .h4 etc
	$body-2:		mat-typography-level(18px, 30px, 700),							// Bold body text
	$body-1:		mat-typography-level(18px, 30px, 400),							// Base body text
	$caption:		mat-typography-level(14px, 20px, 400),
	$button:		mat-typography-level(18px, 48px, 700, $custom-font-accent),
	$input:			mat-typography-level(16px, 1.25, 400)
);
@include mat-core($typography);
@include angular-material-typography($typography);

$theme-primary:	mat-palette($md-purple);
$theme-accent:	mat-palette($md-green);
$theme-warn:	mat-palette($md-pink);
$light-theme:	mat-light-theme((
	color: (
		primary: $theme-primary,
		accent: $theme-accent,
		warn: $theme-warn,
	)
));
$dark-theme: mat-dark-theme((
	color: (
		 primary: $theme-primary,
		 accent: $theme-accent,
		 warn: $theme-warn,
	),
));

@include angular-material-theme($light-theme);
.theme-dark {  @include angular-material-color($dark-theme) }

$light-foreground: map-get($light-theme, foreground);
$light-background: map-get($light-theme, background);

$theme-background-light: (
	status-bar:					map-get($light-background, status-bar),
	app-bar:					map-get($light-background, app-bar),
	background:				   	white,
	hover:	 					map-get($light-background, hover),
	card:	   					map-get($light-background, card),
	dialog:						map-get($light-background, dialog),
	disabled-button:			map-get($light-background, disabled-button),
	raised-button:				map-get($light-background, raised-button),
	focused-button:				map-get($light-background, focused-button),
	selected-button:			map-get($light-background, selected-button),
	selected-disabled-button:	map-get($light-background, selected-disabled-button),
	disabled-button-toggle:		map-get($light-background, disabled-button-toggle),
	unselected-chip:			transparent,
	disabled-list-option:		map-get($light-background, disabled-list-option),
	tooltip: 					map-get($light-background, tooltip),
);

$theme-foreground-light: (
	base:				map-get($light-foreground, base),
	divider:			lighten(map-get($light-foreground, divider), 42%),
	dividers:			lighten(map-get($light-foreground, dividers), 42%),
	disabled:			map-get($light-foreground, disabled),
	disabled-button:  	map-get($light-foreground, disabled-button),
	disabled-text:		map-get($light-foreground, disabled-text),
	elevation:			map-get($light-foreground, elevation),
	hint-text:			map-get($light-foreground, hint-text),
	secondary-text:		map-get($light-foreground, secondary-text),
	icon:				$color_green,
	icons:				$color_green,
	text:				map-get($light-foreground, text),
	slider-min:			map-get($light-foreground, slider-min),
	slider-off:			map-get($light-foreground, slider-off),
	slider-off-active:	map-get($light-foreground, slider-off-active),
);
@include angular-material-theme((
	primary: $theme-primary,
	accent: $theme-accent,
	warn: $theme-warn,
	is-dark: false,
	foreground: $theme-foreground-light,
	background: $theme-background-light,
));

$dark-foreground: map-get($dark-theme, foreground);
$dark-background: map-get($dark-theme, background);

$theme-foreground-dark: (
	base:				map-get($dark-foreground, base),
	divider:			lighten(map-get($dark-foreground, divider), 42%),
	dividers:			lighten(map-get($dark-foreground, dividers), 42%),
	disabled:			map-get($dark-foreground, disabled),
	disabled-button:  	map-get($dark-foreground, disabled-button),
	disabled-text:		map-get($dark-foreground, disabled-text),
	elevation:			map-get($dark-foreground, elevation),
	hint-text:			map-get($dark-foreground, hint-text),
	secondary-text:		map-get($dark-foreground, secondary-text),
	icon:				$color_green,
	icons:				$color_green,
	text:				map-get($dark-foreground, text),
	slider-min:			map-get($dark-foreground, slider-min),
	slider-off:			map-get($dark-foreground, slider-off),
	slider-off-active:	map-get($dark-foreground, slider-off-active),
);
$theme-background-dark: (
	status-bar:					map-get($dark-background, status-bar),
	app-bar:					map-get($dark-background, app-bar),
	background:					$color_purple,
	hover:	 					map-get($dark-background, hover),
	card:	   					map-get($dark-background, card),
	dialog:						map-get($dark-background, dialog),
	disabled-button:			map-get($dark-background, disabled-button),
	raised-button:				map-get($dark-background, raised-button),
	focused-button:				map-get($dark-background, focused-button),
	selected-button:			map-get($dark-background, selected-button),
	selected-disabled-button:	map-get($dark-background, selected-disabled-button),
	disabled-button-toggle:		map-get($dark-background, disabled-button-toggle),
	unselected-chip:			map-get($dark-background, unselected-chip),
	disabled-list-option:		map-get($dark-background, disabled-list-option),
	tooltip: 					map-get($dark-background, tooltip),
);

.theme-dark {
	@include angular-material-theme((
		primary: $theme-primary,
		accent: $theme-accent,
		warn: $theme-warn,
		is-dark: true,
		foreground: $theme-foreground-dark,
		background: $theme-background-dark,
	));
}

/* MEDIUM THEME */
$theme-background-medium: (
	status-bar:					map-get($light-background, status-bar),
	app-bar:					map-get($light-background, app-bar),
	background:					#edeff0,
	hover:	 					map-get($light-background, hover),
	card:	   					map-get($light-background, card),
	dialog:						map-get($light-background, dialog),
	disabled-button:			map-get($light-background, disabled-button),
	raised-button:				map-get($light-background, raised-button),
	focused-button:				map-get($light-background, focused-button),
	selected-button:			map-get($light-background, selected-button),
	selected-disabled-button:	map-get($light-background, selected-disabled-button),
	disabled-button-toggle:		map-get($light-background, disabled-button-toggle),
	unselected-chip:			map-get($light-background, unselected-chip),
	disabled-list-option:		map-get($light-background, disabled-list-option),
	tooltip: 					map-get($light-background, tooltip),
);

.theme-medium {
	@include angular-material-theme((
		primary: $theme-primary,
		accent: $theme-accent,
		warn: $theme-warn,
		is-dark: false,
		foreground: $theme-foreground-light,
		background: $theme-background-medium,
	));
}

html { font-size:10px; }
html, html body {
    //background:#fafafa;
    margin:0; padding:0;
    min-width:100%; min-height:100%;
}

html body .padding-lg-top  		{ padding-top:7rem }
html body .padding-lg-right		{ padding-right:7rem }
html body .padding-lg-bottom	{ padding-bottom:7rem }
html body .padding-lg-left  	{ padding-left:7rem }

html body .padding-xl-top  		{ padding-top:10rem }
html body .padding-xl-right  	{ padding-right:10rem }
html body .padding-xl-bottom  	{ padding-bottom:10rem }
html body .padding-xl-left  	{ padding-left:10rem }

@for $i from 1 to 100 {
    .w-#{$i} { width: #{$i}#{'%'} }
    // @media only screen and (max-width: 400px) {
    //     .w-sm-#{$i} { width: #{$i}#{'%'} }
    // }
    // @media only screen and (min-width:401px) and (max-width: 768px) {
    //     .w-md-#{$i} { width: #{$i}#{'%'} }
    // }
    // @media only screen and (min-width: 769px) {
    //     .w-lg-#{$i} { width: #{$i}#{'%'} }
    // }
}

$border-radius:0.6rem;
@import "decorations";
html body {
	.font-body { font-family: $custom-font-body; }
	.font-accent { font-family: $custom-font-accent; }
	.theme-gradient { background-image: linear-gradient(to bottom right, map-get($md-pink, 500), map-get($md-green, 500)); }
}

html body .mat-button-base {
	$elevation_color:map-get($light-foreground, elevation);
	&.mat-raised-button { @include mat-elevation(10, $elevation_color, 0.23); }
}

html body .mat-stepper-vertical {
	.mat-step-label {
        flex-grow:1;
		em { display:block; }
	}
}

html body .mat-step-icon.mat-step-icon-state-edit,
html body .mat-slider-thumb {
	background-color:$color_pink;
	&:before {
		$color: rgba($color_pink, 0.23);
		$border-width:0.42em;
		$offset: $border-width * -1;
		content:"";
		box-sizing: content-box;
		width:100%; height:100%;
		position:absolute;
		top:$offset; right:$offset; bottom:$offset; left:$offset;
		background-color:$color;
		border:$border-width $color solid;
		border-radius:100%;
	}
}

html body .mat-chip.mat-standard-chip {
	// border:1px $color_purple solid;
	// border-radius:$border-radius;
	&[selected] {
		border-color:$color_pink;
	}
}

html body .mat-chip.mat-standard-chip,
html body .mat-button-base.mat-stroked-button,
html body .mat-button-base.mat-raised-button {
	min-height:3em;
}


html body mat-card {
    border-radius:$border-radius;

    .mat-card-image:first-child {
        border-radius:$border-radius $border-radius 0 0;
    }
    .mat-card-header-text { flex-grow:1 }
}

html body mat-icon {
    &.round-outline {
        font-size:2.8rem;
        height:1em; width:1em;
       	position:relative;
        z-index:10;

        &:before {
            $border-width:0.08em;
            $offset: $border-width * -0.25;

            content:"";
            position:absolute;
            top:$offset; left:$offset;
            width:100%; height:100%;
            z-index:-1;

            font-size:inherit;
            border-width:$border-width;
            border-style:solid;
            border-color:map-get($md-green, 500);
            border-radius:500px;
        }
        &:hover {
            color:white !important;
            &:before { background-color: $color_green; }
        }
    }
}

html body mat-slider {
    font-size:2rem;
	height:1em;
    $track-height:0.33;
    * { font-size:inherit }

	&.mat-slider-horizontal .mat-slider-track-wrapper {
		margin-top:calc(#{"1em"} * #{$track-height * -0.33333333});
		height: calc(#{"1em"} * #{$track-height});
		border-radius: 100vh;
	}
    &.mat-slider-horizontal {
        .mat-slider-track-background,
        .mat-slider-track-fill { height: 100% }
        .mat-slider-track-fill { background-color: $color_pink }
    }
}