@import 'helpers';
@import '~@angular/material/theming';

$theme-primary:	mat-palette($md-purple);
$theme-accent:	mat-palette($md-green);
$theme-warn:	mat-palette($md-pink);

$color_primary:map-get($md-purple, 500);
$color_accent:map-get($md-green, 500);
$color_warn:map-get($md-pink, 500);


@import "./themes/typography";
@import "./themes/light";

.theme-light { @import "./themes/light"; }
.theme-dark { @import "./themes/dark"; }
.theme-medium { @import "./themes/medium"; }
.theme-lightpink { @import "./themes/lightpink"; }
.theme-lightgreen { @import "./themes/lightgreen"; }

html { font-size:10px; }

html,
html body {
    background:#edeff0;
    margin:0; padding:0;
    min-width:100vw; min-height:100vh;
}

html body .padding-lg-top  		{ padding-top:7rem }
html body .padding-lg-right		{ padding-right:7rem }
html body .padding-lg-bottom	{ padding-bottom:7rem }
html body .padding-lg-left  	{ padding-left:7rem }

html body .padding-xl-top  		{ padding-top:10rem }
html body .padding-xl-right  	{ padding-right:10rem }
html body .padding-xl-bottom  	{ padding-bottom:10rem }
html body .padding-xl-left  	{ padding-left:10rem }

@for $i from 1 to 100 {
    .w-#{$i} { width: #{$i}#{'%'} }
    // @media only screen and (max-width: 400px) {
    //     .w-sm-#{$i} { width: #{$i}#{'%'} }
    // }
    // @media only screen and (min-width:401px) and (max-width: 768px) {
    //     .w-md-#{$i} { width: #{$i}#{'%'} }
    // }
    // @media only screen and (min-width: 769px) {
    //     .w-lg-#{$i} { width: #{$i}#{'%'} }
    // }
}
@import "decorations";
html body {
	.font-body { font-family: $custom-font-body; }
	.font-accent { font-family: $custom-font-accent; font-weight:700; }
	.theme-gradient { background-image: linear-gradient(to bottom right, map-get($md-pink, 500), map-get($md-green, 500)); }
	.bg-dot-overlay {
		position:relative;
		&:before {
			content: "";
			position:absolute;
			top:0; right:0; bottom:0; left:0;
			z-index:0;
			background: transparent;
			background-image: radial-gradient(rgba(white, 0.12) 1px, transparent 0);
			background-size: 4px 4px;
		}
	}
	.bg-primary { background-color:$color_primary !important }
	.text-primary { color: $color_primary !important }
	.bg-accent { background-color:$color_accent !important }
	.text-accent { color: $color_accent !important }
	.bg-warn { background-color:$color_warn !important }
	.text-warn { color: $color_warn !important }
}

@import "button";
@import "card";
@import "chip";
@import "icon";
@import "slider";
@import "stepper";

//	COMMON THINGS	//

html body .mat-step-icon.mat-step-icon-state-edit,
html body .mat-slider-thumb {
	background-color:$color_pink;
	&:before {
		$color: rgba($color_pink, 0.23);
		$border-width:0.42em;
		$offset: $border-width * -1;
		content:"";
		box-sizing: content-box;
		width:100%; height:100%;
		position:absolute;
		top:$offset; right:$offset; bottom:$offset; left:$offset;
		background-color:$color;
		border:$border-width $color solid;
		border-radius:100%;
	}
}