@import "../../../styles/helpers";

#resources {
	.resource {
		@extend .flex-column;
		// @extend .col-md-6;
		// @extend .col-lg-4;
		@extend .mb-5;

		//&.large { @extend .col-lg-8 }

		&.list {
			display:table !important;
			table-layout: auto;

			.mat-card {
				display:table-row !important;

				> * {
					display:table-cell !important;
					@extend .p-4;

					&:first-child { width:1%; }
					&:last-child { text-align:center }


					vertical-align: top;
					text-align:left;
				}
			}
		}
	}
	.mat-card {
		@extend .h-100;
		@extend .d-flex;
		@extend .flex-column;

		.mat-card-header {
			.mat-chip {
				border-radius: $border-radius;
				text-transform:uppercase;
				font-weight:normal;
			}
		}
	}
}

.offset-background {
	position:relative;

	> * { position:relative; z-index:1; }

	&:before {
		content:"";
		position:absolute;
		top:0; right:0; bottom:0; left:-150vw;
		background-color:inherit;
		z-index:0;
		border:inherit;
		border-radius:inherit;
		box-shadow: inherit;
	}
}

#survey-call-to-action {
	.mat-chip-list .mat-chip:first-child {
		@extend .offset-background;
		&:before { z-index: -1;}
	}
	.mat-card {
		@extend .offset-background;
	}
}