{{ showAllResources | json }}
{{ surveyInput | json }}
<section *ngIf="(showAllResources) || (surveyInput && surveyInput.bias && surveyInput.ai)"  class="container">
	<div class="d-md-flex flex-wrap justify-content-evenly align-items-stretch">
		<div *ngIf="(showAllResources) || (surveyInput.intent == 'learn' || surveyInput.bias < 1.5)" class="col-md-6 col-lg-4 flex-column mb-5">
			<mat-card class="bg bg-code h-100 d-flex flex-column">
				<mat-card-header class="mt-3">
					<mat-card-title class="text-center">
						<span class="font-accent mat-subheading-1 font-weight-bold">
							Understanding AI/ML
						</span>
					</mat-card-title>
				</mat-card-header>
				<mat-card-content class="flex-fill">
				</mat-card-content>
			</mat-card>
		</div>
		<div *ngIf="(showAllResources) || (surveyInput.intent == 'learn' && surveyInput.bias < 1.5)" class="col-md-6 col-lg-4 flex-column mb-5">
			<mat-card class="bg bg-protest  h-100 d-flex flex-column">
				<mat-card-header class="mt-3">
					<mat-card-title class="text-center">
						<span class="font-accent mat-subheading-1 font-weight-bold">
							Understanding AI and Bias
						</span>
					</mat-card-title>
				</mat-card-header>
				<mat-card-content class="flex-fill">
					<p>
						What does it mean for data to be biased? How does bias show up in AI/ML nodes?
					</p>
				</mat-card-content>
			</mat-card>
		</div>
		<div *ngIf="(showAllResources) || (surveyInput.intent == 'learn' && surveyInput.bias < 1.5)" class="col-md-6 col-lg-4 flex-column mb-5">
			<mat-card class="bg bg-notebooks h-100 d-flex flex-column">
				<mat-card-header class="mt-3">
					<mat-card-title class="text-center">
						<span class="font-accent mat-subheading-1 font-weight-bold">
							Understanding US Frameworks
						</span>
					</mat-card-title>
				</mat-card-header>
				<mat-card-content class="flex-fill">
				</mat-card-content>
			</mat-card>
		</div>
		<div *ngIf="(showAllResources) || (surveyInput.intent == 'learn' || surveyInput.bias < 1.5)" class="col-md-6 col-lg-4 flex-column mb-5">
			<mat-card class="bg bg-globe h-100 d-flex flex-column">
				<mat-card-header class="mt-3">
					<mat-card-title class="text-center">
						<span class="font-accent mat-subheading-1 font-weight-bold">
							International Frameworks
						</span>
					</mat-card-title>
				</mat-card-header>
				<mat-card-content class="flex-fill">
				</mat-card-content>
			</mat-card>
		</div>
		<div *ngIf="(showAllResources) || (surveyInput.intent == 'learn' || surveyInput.bias < 1.5)" class="col-md-6 col-lg-4 flex-column mb-5">
			<mat-card class="bg bg-industry h-100 d-flex flex-column">
				<mat-card-header class="mt-3">
					<mat-card-title class="text-center">
						<span class="font-accent mat-subheading-1 font-weight-bold">
							Case Study: DOL
						</span>
					</mat-card-title>
				</mat-card-header>
				<mat-card-content class="flex-fill">
				</mat-card-content>
			</mat-card>
		</div>
		<div *ngIf="(showAllResources) || (surveyInput.intent == 'learn' || surveyInput.bias < 1.5)" class="col-md-6 col-lg-4 flex-column mb-5">
			<mat-card class="bg bg-books h-100 d-flex flex-column">
				<mat-card-header class="mt-3">
					<mat-card-title class="text-center">
						<span class="font-accent mat-subheading-1 font-weight-bold">
							Case Study: ____
						</span>
					</mat-card-title>
				</mat-card-header>
				<mat-card-content class="flex-fill">
				</mat-card-content>
			</mat-card>
		</div>
	</div>
</section>