<section class="container">
	<div id="resources" class="d-md-flex flex-wrap justify-content-evenly align-items-stretch">
		<div id="survey-call-to-action" class="resource theme-lightpink col-md-6 col-lg-4">
			<mat-card>
				<mat-card-header>
					<mat-chip-list aria-label="tags">
						<mat-chip class="text-accent">New</mat-chip>
					</mat-chip-list>
					<mat-card-title class="flex-fill">
						<span class="font-accent mat-subheading-1 font-weight-bold">
							Bias Your Results
						</span>
					</mat-card-title>
				</mat-card-header>
				<mat-card-content>
					<p>
						Filter the resources on this page by taking our 60-second quiz
					</p>
				</mat-card-content>
				<mat-card-actions>
					<button class="text-light" color="primary" mat-raised-button routerLink="/quiz">
						<span>Take the Quiz</span>
					</button>
				</mat-card-actions>
			</mat-card>
		</div>
        <div id="readme" class="resource col-md-6 col-lg-8">
			<app-resource-card
				markdownFile="{{ githubEntryPoints.raw }}{{ humanReadableSurvey.intent }}/{{ humanReadableSurvey.ai}}/Readme"
				[tags]="[humanReadableSurvey.intent, humanReadableSurvey.ai]">
			</app-resource-card>
		</div>

		<ng-container *ngIf="humanReadableSurvey.intent">
			<div *ngFor="let mdFile of map[humanReadableSurvey.intent].ai" class="resource list col-12">
				<app-resource-card
					markdownFile="{{ githubEntryPoints.raw }}{{ humanReadableSurvey.intent }}/{{ humanReadableSurvey.ai}}/{{ mdFile }}"
					[tags]="[humanReadableSurvey.intent, humanReadableSurvey.ai]"
					[title]="mdFile"
					[classes]="['h-100 w-100 list']">
				</app-resource-card>
			</div>
		</ng-container>
	</div>
</section>